.main {
    width: 100%;
    max-width: calc(1000px + 40px);
    margin: 0 auto;
    padding: 0 20px;
}
.title {
    color: var(--color-white);
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
}
.container-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container-cards .empty {
    font-size: 28px;
    color: var(--color-white);
    text-align: center;
    grid-column: 1 / -1;
    margin-top: 20px;
}
.model-create {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: var(--darker-blue);
    box-shadow: 24px;
    padding: 40px;
    border-radius: 16px;
}
