.button {
    transition: 200ms;
    border-radius: 15px;
    background-color: var(--dark-blue);
    color: var(--color-white);
    font-size: 28px;
    border: none;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    outline: none;

    &:hover,
    &:focus {
        background-color: var(--primary-blue);
    }

    @media (max-width: 768px) {
        font-size: 24px;
    }
}
